PART 2: SQLite

Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from Jupyter notebook 
for the following questions.

In [1]:
import sqlite3
import pandas as pd

database = "sqlite_db_pythonsqlite.db"
conn = sqlite3.connect(database)

def task(query):
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

In [2]:
task("""
    SELECT * 
    FROM (
        SELECT subq.facility, SUM(subq.cost) AS totalRev
        FROM (
        SELECT Facilities.name AS facility, 
        CASE WHEN Bookings.memid =0
        THEN Facilities.guestcost * Bookings.slots
        ELSE Facilities.membercost * Bookings.slots
        END AS cost
        FROM Bookings
        INNER JOIN Facilities ON Bookings.facid = Facilities.facid
        INNER JOIN Members ON Bookings.memid = Members.memid
        )
       AS subq
GROUP BY subq.facility
)
AS subq2
WHERE subq2.totalRev <1000
     """)

('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [3]:
task("""
    SELECT A.surname, A.firstname, B.surname, B.firstname
    FROM Members A, Members B
    WHERE A.recommendedby = B.memid
    ORDER BY A.surname, B.surname

     """)

('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'Douglas', 'Jones', 'David')
('Jones', 'David', 'Joplette', 'Janice')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

Q12: Find the facilities with their usage by member, but not guests

In [4]:
task("""
    SELECT Facilities.Name, SUM(Bookings.slots) AS 'Usage'
    FROM Facilities 
    INNER JOIN Bookings ON Bookings.facid = Facilities.facid
    WHERE Bookings.memid > 0 
    GROUP BY Facilities.Name
     """)

('Badminton Court', 1086)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Pool Table', 856)
('Snooker Table', 860)
('Squash Court', 418)
('Table Tennis', 794)
('Tennis Court 1', 957)
('Tennis Court 2', 882)

Q13: Find the facilities usage by month, but not guests

In [5]:
task("""
    SELECT Facilities.Name, SUM(Bookings.slots) AS 'Usage', MONTH(Bookings.starttime) AS Month
    FROM Facilities 
    INNER JOIN Bookings ON Bookings.facid = Facilities.facid
    WHERE Bookings.memid > 0 
    GROUP BY Month, Facilities.Name
     """)
# When I run this on the server it works but I am not sure why it is not recognizing 'MONTH' function here

OperationalError: no such function: MONTH

In [ ]:
# Close connection
conn.close()